@charset "utf-8";
/* 
    Document   : div.css
    Created on : 05-May-2011
    Author     : Richard Williamson
*/

#container
{
    margin: 0 auto;
    width: 1040px;
    background: #ffffff;
}

#header
{
    float: left;
    width: 998px;
    background: #3b5998;
    border-top: 1px solid #3b5998;
    border-right: 1px solid #3b5998;
    border-left: 1px solid #3b5998;
    padding: 10px 20px;
}

#header h1 { 
    float: left;
    margin: 0; 
    height: 36px;
    width: 464px;
    color: #f7f7f7;
    font-size: 18px;
}

.red {
    color: #dd3c10;
}

#header a  
{  
    color: #f7f7f7;  
    outline-style: none;  
    text-decoration: none;  
    font-size: 11px;    
}  
header a:hover  
{  
    text-decoration: underline;  
}

#login {
    float: right;
    color: #f7f7f7;
    height: 36px;
    width: 430px;
    border: 0px;
    text-align: right;
}

#login_response {
    float: right;
    height: 20px;
    width: 430px;
    padding-top: 4px;
    text-align: right;
    color: #f7f7f7;
}
#navigation
{
    float: left;
    width: 1026px;
    background: #3a4f63;
    border-right: 1px solid #496007;
    border-left: 1px solid #496007;    
    padding: 6px;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li a
{
    display: block;
    float: left;
    padding: 6px 12px;
    margin: 0px 2px;
    color: #bfcbd6;
    text-decoration: none;
    border: 1px solid #bfcbd6;
}

#navigation li a:hover { 
    background: #bfcbd6; 
    color: #3a4f63;
}

#search {
    float: right;
    color: #bfcbd6;
}

#content-container
{
    float: left;
    width: 1026px;
    background: #ffffff;
    padding: 6px;
    border: 1px solid #3b5998;
}

#content
{	
    float: right;
    width: 818px;
    
}

#content h2 { 
    background: url(/databook/images/icons/application_osx.png) no-repeat 8px 10px;
    text-indent: 22px;
    background-color: #f7f7f7;  
    border: 1px solid #cccccc;  
    color: #333333;
    padding: 10px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 13px;  
    font-weight: bold;  
}

#content h3 { 
    background-color: #f7f7f7;  
    border: 1px solid #cccccc;  
    color: #333333;
    padding: 4px 10px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 11px;  
    font-weight: bold;  
}

#filter
{
    float: left;
    width: 190px;
    padding: 4px;
    background: #eceff6;
    border: 1px solid #d4dae8;
}

#filter h3 { 
    background: url(/databook/images/icons/layout.png) no-repeat 6px 5px;
    text-indent:24px;
    margin: 2px; 
    padding: 6px;
    color: #333333;
    font-size: 11px;  
    font-weight: bold; 
    border: 1px solid #d4dae8; 
}

#footer
{
    width: 1018px;
    float: left;
    background: #3b5998;
    border-bottom: 1px solid #3b5998;
    border-right: 1px solid #3b5998;
    border-left: 1px solid #3b5998;
    text-align: right;
    padding: 10px;
    color: #f9f9f9;
}

#footer a  
{  
    color: #f7f7f7;  
    outline-style: none;  
    text-decoration: none;  
    font-size: 11px;    
}  
#footer a:hover  
{  
    text-decoration: underline;  
}

#selector
{
    width: 320px;
    height: 30px;
}

#selectYear 
{
    width: 60px;
    float: left; 
}

#selectForm
{
    width: 200px;
    float: left;
}

#studenteditor
{
    width: 700px;
}

#selectStudent
{
    width: 200px;
    float: left;        
}

#editStudent
{
    width: 500px;
    float: right;
}