@charset "utf-8";
/* 
    Document   : div.css
    Created on : 05-May-2011
    Author     : Richard Williamson
*/

#container {
    margin: 0 auto;
    width: 1040px;
    background: #ffffff;        
}

#logindetails {
    float: right;
    color: #f7f7f7;
    border: 0px;
    padding-right: 10px;
    text-align: right;
}

#login {
    margin: auto;
    color: #333333;

}
#login input {
    padding: 6px;
    width: 200px;
}

#search {
    float: right;
    color: #f7f7f7;
}

#content-container {
    float: left;
    width: 1028px;
    background: #ffffff;
    padding: 6px;
    border: 1px solid #3a4f63;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7);    
}

#content {	
    float: right;
    width: 818px;

}

#content h2 { 
    background: url(/databook/images/icons/application_osx.png) no-repeat 8px 10px;
    text-indent: 22px;
    background-color: #f7f7f7;  
    border: 1px solid #cccccc;  
    color: #333333;
    padding: 10px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 13px;  
    font-weight: bold;  
    border-radius: 3px;    
}

#content h3 { 
    background-color: #f7f7f7;  
    border: 1px solid #cccccc;  
    color: #333333;
    padding: 4px 10px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 11px;  
    font-weight: bold;  
    border-radius: 3px;
}

#graph {
    width: 100%; 
    height: 350px; 
    margin-top: 20px;
}

#filter {
    float: left;
    width: 190px;
    padding: 4px;
    background: #eceff6;
    border: 1px solid #d4dae8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}

#filter h3 { 
    background: url(/databook/images/icons/layout.png) no-repeat 6px 5px;
    text-indent:24px;
    margin: 2px; 
    padding: 6px;
    color: #333333;
    font-size: 11px;  
    font-weight: bold; 
    border: 1px solid #d4dae8; 
}

#selector {
    width: 320px;
    height: 30px;
}

#selectYear {
    width: 60px;
    float: left; 
}

#selectForm {
    width: 200px;
    float: left;
}

#studenteditor {
    width: 700px;
    padding-top: 20px;
}

#selectStudent {
    width: 200px;
    float: left;        
}

#editStudent {
    width: 500px;
    float: right;
}