@charset "utf-8";
/* 
    Document   : stylesheet.css
    Created on : 05-May-2011
    Author     : Richard Williamson
*/

body {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
    font-size: 11px;
    color: #333333;
}


table {
    border-collapse: collapse;
}
table td {
    border: 0px;
}

select {
    padding: 4px;
    border: 1px solid #d4dae8;
    border: 1px solid #d4dae8;    
}

.logintable {
    border-collapse: collapse;
    margin-left: auto;
}
.logintable td {
    border: 0px;
    padding: 1px; 
    text-align: left;
}

.contenttable {
    border-collapse: collapse;    
}
.contenttable td {
    border: 1px solid #666666;
    padding: 4px;     
}
.contenttable .belowtargetcell{
    background-color: #ffebe8;
    text-align: center;
}
.contenttable .abovetargetcell{
    background-color: #D0F5A9;
    text-align: center;
}
.contenttable .ontargetcell{
    text-align: center;
}
.contenttable .gradecell{
    text-align: center;
    width: 20px;
}


.filtertable {
    border-collapse: collapse;
}
.filtertable td
{
    border: 0px;
    padding: 4px;
    height: 30px;
}

.textinput {
    border: 1px solid #666666;
    padding: 2px;
    background: #f9f9f9;
}

.buttoninput {
    border: 1px solid #666666;
    padding: 1px 8px;
    background: #f9f9f9;
}
.buttoninput:hover {
    border: 1px solid #666666;
    background: #bfcbd6;
}

.popupCell {
    background-color: #fffafa;
    padding: 6px;
    border-bottom: solid #496007 1px;
}

.popupCell:hover {
    background-color: #bfcbd6;
}

.popupItem {
    color: black; 
    text-decoration: none;
}

/* Default Anchor Style */  
a {  
    color: #3b5998;  
    outline-style: none;  
    text-decoration: none;  
    font-size: 11px;    
}  
a:hover {  
    text-decoration: underline;  
}

a.button {
    display: block;
    color: #555555;
    font-weight: bold;
    height: 27px;
    line-height:26px;
    margin: 2px;
    text-decoration: none;
    border: 1px solid #d4dae8;
}
a:hover.button {
    color: #333333;
    background-color: #bfcbd6;
    border: 1px solid #3b5998;
}

.filter {
    background: url(/databook/images/icons/tick.png) no-repeat 6px 5px;
    text-indent:28px;
    display: block;
}

.editstudentline {
    line-height: 28px;
    vertical-align: central;
    color: #dd3c10;
}

span img {
    position: relative; 
    top: 3px;
}