@charset "utf-8";
/* 
    Document   : stylesheet.css
    Created on : 05-May-2011
    Author     : Richard Williamson
*/

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    background: #b6b7bc;
}


table {
    border-collapse: collapse;
}
table td {
    border: 0px;
}


.logintable {
    border-collapse: collapse;
    margin-left: auto;
}
.logintable td {
    border: 0px solid #496007;
    padding: 1px; 
    text-align: left;
}

.contenttable {
    border-collapse: collapse;    
}
.contenttable td {
    border: 1px solid #496007;
    padding: 4px;     
}

.filtertable {
    border-collapse: collapse;
}
.filtertable td
{
    border: 0px;
    padding: 4px;
    vertical-align: center;
    height: 30px;
}

.textinput {
    border: 1px solid #496007;
    padding: 3px;
    background: #f9f9f9;
}

.buttoninput {
    border: 1px solid #496007;
    padding: 3px 8px;
    background: #f9f9f9;
}
.buttoninput:hover {
    border: 1px solid #496007;
    background: #bfcbd6;
}

.popupCell {
    background-color: #fffafa;
    padding: 6px;
    border-bottom: solid #496007 1px;
}

.popupCell:hover {
    background-color: #bfcbd6;
}

.popupItem {
    color: black; 
    text-decoration: none;
}
