@charset "utf-8";
/* 
    Document   : stylesheet.css
    Created on : 05-May-2011
    Author     : Richard Williamson
*/

body {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
    font-size: 11px;
    color: #333333;
}

footer {
    width: 1018px;
    float: left;
    background: #3b5998;
    border-bottom: 1px solid #3b5998;
    border-right: 1px solid #3b5998;
    border-left: 1px solid #3b5998;
    text-align: right;
    padding: 10px;
    color: #f9f9f9;
}

header h1 { 
    float: left;
    margin: 0; 
    height: 36px;
    width: 464px;
    color: #f7f7f7;
    font-size: 22px;
}

header a  
{  
    color: #f7f7f7;  
    outline-style: none;  
    text-decoration: none;  
    font-size: 11px;    
} 

nav {
    float: left;
    width: 1026px;
    background: #3a4f63;
    border-right: 1px solid #496007;
    border-left: 1px solid #496007;    
    padding: 6px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav li a {
    display: block;
    float: left;
    padding: 6px 12px;
    margin: 0px 2px;
    color: #bfcbd6;
    text-decoration: none;
    border: 1px solid #bfcbd6;
}

nav li a:hover { 
    background: #bfcbd6; 
    color: #3a4f63;
}

table {
    border-collapse: collapse;
}
table td {
    border: 0px;
}

a {  
    color: #3b5998;  
    outline-style: none;  
    text-decoration: none;  
    font-size: 11px;    
}  


a.button {
    display: block;
    color: #555555;
    font-weight: bold;
    height: 27px;
    line-height:26px;
    margin: 2px;
    text-decoration: none;
    border: 1px solid #d4dae8;
}
a:hover.button {
    color: #333333;
    background-color: #bfcbd6;
    border: 1px solid #3b5998;
}

select {
    padding: 4px;
    border: 1px solid #d4dae8;   
}


#logintable {
    border-collapse: collapse;
    margin-left: auto;
}
#logintable td {
    border: 0px;
    padding: 1px; 
    text-align: left;
}


.contenttable {
    border-collapse: collapse;    
}
.contenttable td {
    border: 1px solid #666666;
    padding: 4px;     
}
.contenttable thead {
    border: 1px solid #666666;
    background-color: #cccccc;    
}
.contenttable thead tr th {
    border: 1px solid #666666;
    padding: 4px;     
}

.contenttable .belowtargetcell{
    background-color: #ffebe8;
    text-align: center;
}
.contenttable .abovetargetcell{
    background-color: #D0F5A9;
    text-align: center;
}
.contenttable .ontargetcell{
    text-align: center;
}
.contenttable .gradecell{
    text-align: center;
    width: 20px;
}


.filtertable {
    border-collapse: collapse;
}
.filtertable td
{
    border: 0px;
    padding: 4px;
    height: 30px;
}


.textinput {
    border: 1px solid #666666;
    padding: 3px;
    background: #f9f9f9;
    font-size: 11px;
}

.buttoninput {
    border: 1px solid #666666;
    padding: 2px 8px;
    background: #f9f9f9;
    font-size: 11px;
}
.buttoninput:hover {
    border: 1px solid #666666;
    background: #bfcbd6;
}

.popupCell {
    background-color: #fffafa;
    padding: 6px;
    border-bottom: solid #496007 1px;
}

.popupCell:hover {
    background-color: #bfcbd6;
}

.popupItem {
    color: black; 
    text-decoration: none;
}

.filter {
    background: url(/databook/images/icons/tick.png) no-repeat 6px 5px;
    text-indent:28px;
    display: block;
}

.editstudentline {
    line-height: 28px;
    color: #dd3c10;
}

span img {
    position: relative; 
    top: 3px;
}

.red {
    color: #dd3c10;
}